

.color{
    color: black;
}

body {
    background-image: url('../img/test.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1{
    font-size: 35px;
}


.titulo
{
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(255, 144, 53);
  text-align: center;
  font-family: fantasy;
  text-shadow: 0 0 5px rgb(255, 123, 0), 0 0 15px rgb(255, 0, 0);
}
.navbar-brand
{
    font-size: 30px;   
    font-family: fantasy;
    text-shadow: 0 0 20px rgb(255, 123, 0), 0 0 15px rgb(255, 0, 0);
}

.nav-link{
    font-size: 25px;
    font-family: fantasy;
    padding-top: 25px;
}
.navbar-dark
{
    background: linear-gradient(to right, rgb(0, 0, 0) 30%, rgb(65, 20, 0) 90%);
}

nav .navbar-nav li a{
    color: rgb(255, 172, 124) !important;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(255, 51, 0) !important;
}

.container-xl{
    background: linear-gradient(to bottom, rgb(15, 4, 0) 60%, rgb(94, 28, 0) 90%);
}


p{
    font-family: fantasy;
    letter-spacing: 1.2px;
    font-size: 20px;
    color: rgb(207, 93, 0);
}

/* Sobreponer texto cuando esté el mouse*/
.ovl{
    opacity: 0;
    transition: 0.2s;
}

.ovl:hover{
    opacity: 1;
    background: rgba(0, 0, 0, 0.65);
}

.btn-xl {
    padding: 10px 60px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-xxl {
    padding: 20px 70px;
    font-size: 25px;
    border-radius: 10px;
}

/*De aquí pabajo es solo footer C:*/
footer{
    background-color: black;
    color: gray;
    width: 100%;
}

.container-footer-all{
    width: 100%;
    justify-content: center;
}

.container-body{
    display: flex;
}

.columna1{
    width: 100%;
    max-width: 50%;
    margin: 40px;
}
.columna1 p{
    margin-top: 20px;
}

.columna2{
    width: 100%;
    max-width: 25%;
    min-width: 5%;
    margin-top: 40px;
    margin-left: 5%;
}

.row{
    margin-top: 20px;
    margin-left: 5px;
    display: flex;
}

.row label{
    margin-top: 5px;
    margin-left: 10px;
}